header {
  text-align: left;
  font-weight: 800;
  font-size: 28px;
  border-bottom: solid 3px #DEDEDE;
  display: flex;
  justify-content: space-between;
}

footer {
  display: block;
  text-align: center;
  padding: 5px 20px;
  padding-bottom: 0px;
}

.headers {
  margin-top: 1%;
  margin-bottom: -1%;
  font-size: 20px;
}

#list-head {
  margin-left: 2.5%;
  width: 30.5%;
  display: inline-block;
  text-align: center;
}

#note-head {
  width: 60%;
  margin-left: 5%;
  display: inline-block;
  text-align: center;
}

noteList {
  margin-top: 20px;
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1%;
  width: 30.5%;
  height: 700px;
  overflow: scroll;
  border: solid 3px #929292;
  background-color: #DEDEDE;
}

.within-list {
  cursor: pointer;
}

.list-title {
  font-weight: 600;
  font-size: 20px;
  padding: 5px 5px 0 5px;
}

.list-date {
  font-weight: 200;
  font-style: italic;
  font-size: 12px;
  padding: 0 5px 0 5px;
}

.list-text {
  padding: 0 5px 5px 5px;
  border-bottom: solid 1px black;
}

.list-title1 {
  font-weight: 600;
  font-size: 20px;
  padding: 5px 5px 0 5px;
}

.list-date1 {
  font-weight: 200;
  font-style: italic;
  font-size: 12px;
  padding: 0 5px 0 5px;
}

.list-text1 {
  padding: 0 5px 5px 5px;
  border-bottom: solid 1px black;
}

.list-title2 {
  font-weight: 600;
  font-size: 20px;
  padding: 5px 5px 0 5px;
}

.list-date2 {
  font-weight: 200;
  font-style: italic;
  font-size: 12px;
  padding: 0 5px 0 5px;
}

.list-text2 {
  padding: 0 5px 5px 5px;
  border-bottom: solid 1px black;
}
notePad {
  display: inline-block;
  border: solid 3px black;
  height: 700px;
  overflow: scroll;
  width: 85%;
  margin-left: 5%;
  margin-top: 2%;
}

#note-title {
  font-size: 24px;
  padding: 0 0 5px 5px;
  border-bottom: solid 2px #DEDEDE;
}

#note-body {
  padding: 5px;
}

#body-field, #title-field {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}

#title-field {
  font-size: 18px;
  font-weight: 600;
}

#body-field {
  font-size: 14px;
  font-weight: 500;
  height: 400px;
}

#color-select {
  display: inline-flex;
  flex-flow: row;
  text-align: center;
}

.color-box {
  border: solid 2px #929292;
  height: 10px;
  width: 10px;
  margin-left: 5px;
}

.display {
  display: visible;
}

.no-display {
  display: none;
}

.navBar {
  text-align: center;
  padding: 15px; }
  .navBar a h2 {
    font-size: 30px;
    font-family: "Lato", sans-serif;
    display: inline;
    padding: 10px;
    color: #b3b3b3; }

button {
  margin: 5px;
  border: solid 3px black;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  color: #DEDEDE;
  height: 50px;
  width: 100px;
}

button:hover, .color-box:hover {
  cursor: pointer;
}

#listed:nth-child(odd):hover {
  cursor: pointer;
}

#listed1:nth-child(odd):hover {
  cursor: pointer;
}

#listed2:nth-child(odd):hover {
  cursor: pointer;
}

#btn-mvtoeditor {
  float: none;
  text-align: center;
  color:white;
  background-color: #0033cc;
}

#btn-rtrntnts {
  background-color: #0033cc;
}

#btn-new {
  background-color: #0033cc;
}

#btn-save {
  background-color: #2F5032;
}

#btn-save1 {
  background-color: #2F5032;
}

#btn-save2 {
  background-color: #2F5032;
}

#btn-delete {
  background-color: #E41A36;
}

.white {
  background-color: white;
  height: 25px;
  width: 25px;
}


.aqua {
  background-color: #79FBD6;
  height: 25px;
  width: 25px;
}

.ice {
  background-color: #79FDFE;
  height: 25px;
  width: 25px;
}

.sky {
  background-color: #7AD6FD;
  height: 25px;
  width: 25px;
}
