* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  padding: 20px;
  /*background: #00FF77;*/
  margin: auto;
  height: auto;
  background-color: #1b1b1b;
  max-height: auto;
  max-width: auto;
}

/* Header/Blog Title */
.header {
  padding: 15px;
  font-size: 20px;
  text-align: center;
  background: transparent;
  color:white;
}
.text {
  text-align: center;
  color:white;
  margin:15px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1b1b1b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*.active {
  background-color: #4CAF50;
}*/

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Footer */
.footer {
  bottom:0;
  min-height:0%;
  text-align: center;
  background: transparent;
  color:white;
}
#container {
   min-height:100%;
   position:relative;
}
html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
